body {
    background: linear-gradient(90deg, blue, purple, magenta);
}

a {
    text-align: center;
    color: yellow;
    font-size: x-large;
    font-weight: bold;
}

h1 {
    color: lime;
    font-size: xx-large;
    font-weight: 900;
    text-decoration: wavy;
}